/* Resetando margens e padding */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Personalizar a barra de rolagem */
::-webkit-scrollbar {
  width: 10px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-track {
  background: #020024; /* Cor do fundo da trilha */
}

::-webkit-scrollbar-thumb {
  background: #66adf6; /* Cor da barra de rolagem */
  border-radius: 10px;
  border: 2px solid #020024; /* Bordas para criar contraste */
}

::-webkit-scrollbar-thumb:hover {
  background: #1257a4; /* Cor ao passar o mouse */
}

::-webkit-scrollbar-thumb:active {
  background: #5885b6; /* Cor ao clicar */
}

html,
body {
  scroll-behavior: smooth; /* Adiciona um efeito de rolagem suave */
  overflow-x: hidden; /* Impede o scroll horizontal */
  font-family: "Poppins", sans-serif;
  background-color: #030724;
  color: #fff;
  background: rgb(2, 0, 36);
  background: -moz-linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 24, 51, 1) 30%,
    rgba(16, 33, 48, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 24, 51, 1) 30%,
    rgba(16, 33, 48, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 24, 51, 1) 30%,
    rgba(16, 33, 48, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#102130",GradientType=1);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#nav-bar {
  display: flex;
  margin-top: 5px;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
  background-color: rgb(13, 28, 41);
  border-radius: 20px;
  width: 90%;
  flex-wrap: wrap;
}

#nav-bar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
}

#nav-bar li {
  padding: 20px;
}

#nav-bar a {
  text-decoration: none;
  color: white;
  border-radius: 10px;
  transition: 0.3s;
  padding: 5px 5px;
}

#nav-bar a:hover {
  color: #66adf6;
  background-color: rgba(102, 173, 246, 0.1);
  transition: 0.3s;
}

.nav-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.intro {
  text-align: center;
}

.intro img {
  width: 250px;
  border-radius: 45%;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3); /* Adiciona uma sombra para destacar */
  margin-bottom: 20px;
}

h1 {
  color: #66adf6;
}

.social-links a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}

.social-links img {
  width: 45px;
  margin: 20px;
  border-radius: 12px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.social-links img:hover {
  transform: scale(1.1); /* Aumenta o tamanho da imagem */
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3); /* Adiciona uma sombra para destacar */
}

#sobre {
  padding: 60px;
  text-align: center;
  margin: 0 auto;
  max-width: 100%;
}

.container-sobre {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px 40px;
  background-color: rgba(0, 19, 36, 0.3);
  border: 2px solid rgba(2, 0, 36, 0.3);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 20px;
}

#sobre h2 {
  text-align: left;
}

#sobre p {
  text-align: left;
  margin-bottom: 10px;
}

.btn {
  background-image: linear-gradient(
    to right,
    #061b32 0%,
    #1257a4 51%,
    #061b32 100%
  );
}
.btn {
  background-color: #66adf6;
  background-size: 200% auto;
  padding: 20px 20px;
  width: 200px;
  margin: 0 auto;
  color: #fff;
  text-decoration: none;
  border-radius: 15px;
  box-shadow: 0 0 7px #5885b6;
  border: none;
  transition: 0.5s;
}

.btn:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.btn img {
  margin-bottom: -12px;
  margin-left: 10px;
  width: 35px;
  text-align: center;
}

.seta1,
.seta2 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 55px;
}

.seta1 img,
.seta2 img {
  width: 50px;
}

#habilidades {
  padding: 20px;
  text-align: center;
}

#habilidades ul {
  list-style: none;
}

.hbl li {
  display: inline-block;
  margin: 1rem;
}

#habilidades img {
  margin-bottom: -12px;
  margin-left: 10px;
  width: 35px;
  text-align: center;
  border-radius: 10px;
}

#projetos {
  padding: 40px 10px;
  text-align: center;
}
#projetos h2 {
  margin-bottom: 30px;
  margin-top: 50px;
}
.projetos-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-items: center;
}

.projeto {
  text-align: center;
}

.project-image {
  width: 65%;
  margin-top: 5px;
  max-width: 400px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.project-tech {
  margin-top: 10px;
  display: flex;
  gap: 15px;
  justify-content: center;
  padding: 5px;
}

.project-tech img {
  width: 20px;
  border-radius: 5px;
}

.project-buttons {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.project-buttons .btn-project {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 5px;
  transition: 0.3s;
  font-size: 15px;
  box-shadow: 0 0 4px #000e1e;
}
.project-buttons .btn-project:hover {
  color: #66adf6;
  background-color: rgba(102, 173, 246, 0.1);
  transition: 0.3s;
}

#contato {
  text-align: center;
  background-color: #020024;
  padding: 30px;
}

#contato h2 {
  margin: 10px;
}

#contato img {
  width: 100px;
  margin: 10px;
  border-radius: 100px;
}

#contato a {
  transition: 0.3s;
  color: #66adf6;
  margin: 5px;
}

#contato a:hover {
  transition: 0.3s;
  color: #fff;
}

/* Estilizando o botão de voltar ao topo */
#scrollToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #66adf6;
  color: white;
  border: none;
  border-radius: 40px;
  padding: 12px;
  font-size: 30px;
  cursor: pointer;
  display: none;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 999;
  transition: 0.3s;
}

#scrollToTopBtn:hover {
  transition: 0.3s;
  transform: scale(1.1);
}

/* Responsividade para dispositivos maiores */

@media (min-width: 2000px) {
  #sobre {
    max-width: 70%;
  }
}

/* Responsividade para dispositivos menores */

@media (max-width: 768px) {
  #nav-bar {
    flex-direction: column;
  }

  #nav-bar ul {
    flex-direction: column;
    align-items: center;
  }

  #nav-bar li {
    padding: 10px;
  }

    .nav-intro {
    height: 60vh;
  }

  .intro img {
    width: 200px;
  }

  .social-links img {
    width: 40px;
  }

  .container-sobre {
    padding: 20px 15px;
  }

  #projetos {
    padding: 5%;
  }

  .projeto {
    width: 100%;
    padding: 20px;
  }
  .project-image {
    max-width: 300px;
  }
}
